body{
    background-color: #f3e9e9;
 }
    
  .item {
    position: relative;
    background-color: rgb(252, 251, 250);
    height: 350px;
    width: 330px;
    margin: 10px;
    font-size: 50px;
    padding: 10px;
    box-shadow: 3px 3px 4px 4px black;
    border-radius: 1px 12px 3px 12px;
  }
  .container {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
  }
  .img1{
    position: absolute;
    height:200px;
    top: 20px;
    left: 69px;
    width: 200px;
    display: flex;
    border-radius: 5px;
    border-style:double;
  }
  .text1{
    position: absolute;
    font-size: 30px;
    font-family: cursive;
    text-align: center;
    font:bold;
  }
  
.text2{
    position: absolute;
    font-family: cursive;
    font-size: 18px;
}
  .text3{
    font-family: cursive;
    position: absolute;
    font-size: 30px;
    font-family: initial;
    color: rgb(253, 253, 252);
    text-align: center;
   
    margin-bottom: 15px;


  }
  .heading{
    text-align: center;
    color:brown;
  }

  
  #button{
    border-radius: 0px 15px 0px 15px;
    background-color: rgb(206, 221, 215);
  }
  #button:hover{
    border-radius: 5px 20px 5px 20px;
    background-color: rgb(244, 208, 245);
  }